.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-container {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    width: 100%;
    gap: 10px;
}

.input-group input {
    flex: 1;
}
h2{
    color: #4A1D00;
}
label{
    width: 30%; 
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #002F26;
}

input, select, textarea {
    width: 48%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button{
    display: inline-block;
    background-color: #007BFF; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s; /* Transición de color de fondo */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

@media (max-width: 768px) {
    .form-group {
        flex-direction: column;
    }
}
