
#tabla-container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #212A4D;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.botton{
    background-color: #4FB92D;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    table {
        display: block;
        width: 100%;
    }

    th, td {
        display: block;
        width: 100%;
    }
}